.home {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeWrapper {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeRegisterButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

.homeRegisterButton:hover {
    background-color: #40c526;
}

.homeSignUpButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 255);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
}

.homeSignUpButton:hover {
    background-color: rgb(66, 66, 255);
}