.notificationBar {
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}